<h1>Welcome!</h1>
<p>Check out our database of Gemstones and Quotes for inspiration and how to enhance good vibes</p>

<%= link_to 'All Gemstones', gemstones_path %>
<%= link_to 'All quotes', quotes_path %>



